section{
    background: linear-gradient(71.17deg, #FEAF00 19.35%, #F8D442 90.12%);
    min-height:100vh;
}
.card{
    border-radius: 20px;
}
h1{
    font-size: 24px;
    font-weight: 700;
    padding-inline: 10px;
    display: flex;
    align-items:center;
}
h1::before{
    content: '';
    align-items: baseline;
    display: inline-block; 
    height: 40px;
    width: 5px;
    margin-inline: 12px;
    background: #F8D442;
    border: 3px solid #F8D442
}
h2{
    margin-top: 20px;
    font-size: 22px;
    font-weight: 600;
}
p{
    font-size: 14px;
    font-weight: 400;
    color: #6C6C6C;
}

label{
    font-weight: 500;
}
input::placeholder{
    color: #CDCDCD;
}
input:focus{
    border-color: #FEAF00;
    box-shadow:0 0 0 .25rem #f8d442a9 ;
}
.btn{
    background:#FEAF00;
    color: #FFFFFF;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
}
.flipswitch {
  position: relative;
  width: 100px;
}

.flipswitch input[type=checkbox] {
  display: none;
}

.flipswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #999999;
  border-radius: 50px;
}

.flipswitch-inner {
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
  display: flex;
}

.flipswitch-inner:before,
.flipswitch-inner:after {
  width: 50%;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  font-weight: bold;
  font-family: Trebuchet, Arial, sans-serif;
  box-sizing: border-box;
  text-align: center;
}

.flipswitch-inner:before {
  content: "EN";
  background-color: #437A99;
  color: white;
}

.flipswitch-inner:after {
  content: "AR";
  background-color: white;
  color: #437A99;
}

.flipswitch-switch {
  width: 35px;
  margin: -2.5px;
  background: white;
  border: 1px solid #999999;
  border-radius: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 67px;
  transition: all 0.3s ease-in 0s;
}

.flipswitch-cb:checked + .flipswitch-label .flipswitch-inner {
  margin-left: 0;
}

.flipswitch-cb:checked + .flipswitch-label .flipswitch-switch {
  right: 0;
}

.end-10{
 right: 10px;
}
.start-10{
  left: 10px;
}