.header {
  h3 {
    font-weight: 700;
    font-size: 22px;
  }

  .btn {
    background: #FEAF00;
    color: #ffffff;
  }
}

tr {
  border-color: transparent;

  th {
    font-weight: 600;
    font-size: 12px;
    color: #ACACAC;
  }
}

tbody {
  tr {
    td {
      padding-block: 15px;
      padding-inline: 15px; 
    }

    td:last-child {
      border-radius: 0px 8px 8px 0px;
      overflow: hidden; 
    }

    td:first-child {
      border-radius: 8px 0px 0px 8px;
      overflow: hidden;

      img {
        border-radius: 0 !important;
        width: 65px;
        height: 65px;
      }
    }
  }
}
.custom-table {
  border-collapse: separate;
  border-spacing: 0 20px;
}
