  .sideBar {
      background: #F2EAE1;
      height: 100%;

    }


  h1 {
      font-weight: 700;
      font-size: 18px;
      display: flex;
      align-items: center;

      &::before {
          content: '';
          align-items: baseline;
          display: inline-block;
          height: 25px;
          width: 5px;
          margin-right: 12px;
          background: #F8D442;
          border: 3px solid #F8D442;
      }
  }

  .list {
      padding-bottom: 50px;
      margin-bottom: 50px;

      & .header_list {
          margin-bottom: 40px;
      }

      & img {
          height: 138px;
          width: 138px;
          border-radius: 50%;
          object-fit:cover;
          margin-bottom: 8px;
      }

      & h2 {
          font-weight: 700;
          font-size: 17px;
          margin-bottom: 0px;
      }

      & p {
          font-weight: 400;
          font-size: 14px;
          color: #FEAF00;
      }
  }

  ul {
      & li {
          border-radius: 4px;
          font-weight: 500;
          cursor: pointer;
      }
  }

  a {
      text-decoration: none;
      color: #000000;
      cursor: pointer;
  }

  .bg_active {
      background: #FEAF00;
  }