<!-- layout.component.html -->
<div class="layout">
    <div class="sidebar" *ngIf="isSidebarOpen">
        <app-side-bar></app-side-bar>
    </div>
    <button class="btn" (click)="toggleSidebar()"><i
            [class]="isSidebarOpen?'bi bi-chevron-double-left':'bi bi-chevron-double-right'"></i></button>
    <div class="content" [class.full-width]="!isSidebarOpen">
        <div class="navBar">
            <div class="d-flex justify-content-between align-items-center h-100 px-5">
                <span class="back" routerLink="/users/userList"><i class="bi bi-arrow-left-circle fs-5"></i></span>
                <div class="d-flex gap-4 align-items-center">
                    <div class="search border py-2 rounded-3 px-3">
                        <input type="search" placeholder="search....">
                        <i class="bi bi-search"></i>
                    </div>
                    <i class="bi bi-bell fs-5"></i>
                    <div class="flipswitch">
                        <input type="checkbox" class="flipswitch-cb" id="langToggle" (change)="changeLang()"
                            [checked]="lang === 'en'">
                        <label class="flipswitch-label" for="langToggle">
                            <div class="flipswitch-inner"></div>
                            <div class="flipswitch-switch"></div>
                        </label>
                    </div>
                </div>

            </div>
        </div>

        <div class="main">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>