.parent { 
height: auto;
display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr 0.9fr 1.1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "sideBar navBar navBar navBar navBar navBar"
    "sideBar main main main main main"
    "sideBar main main main main main"
    "sideBar main main main main main"
    "sideBar main main main main main"
    "sideBar main main main main main"
    "sideBar main main main main main"
    "sideBar main main main main main"
    "sideBar main main main main main"
    "sideBar main main main main main"
    "sideBar main main main main main"
    "sideBar main main main main main"; 
}

.sideBar { 
  grid-area: sideBar; 
  min-height:100vh 
}

.navBar {
   grid-area: navBar;
   background:#FFFFFF;
   & i{
    color: #C4C4C4;
   }
   & .search {
  
    & input{
      border: none;
      outline-color:transparent;

    }
    &:focus-visible{
      outline-color:transparent;
    }
  }
  }

.main { 
  grid-area: main;
  background: #F8F8F8;
}
